.arrow-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 15px;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    color: #FFFFDE;
    border-radius: 100%;
}
