.artist-map-container {
    position: relative;
    min-width: 125px;
    max-width: 125px;
    min-height: 120px;
    max-height: 120px;
    border-radius: 1rem;
    overflow-x: hidden;
    overflow: hidden;
    background: #282828;
    box-shadow:  inset 0.5rem 0.5rem 5px rgba(0,0,0,0.25);
}

.bus-stop {
    width: 5px;  
    height: 5px;  
    border-radius: 0.35rem;  
    background-color: white;
}

.kedzie {
    position:absolute; 
    top: 4.5em;
    left: 1em;
}

.connect-one {
    width: 1em;  
    height: 1px;  
    position: absolute;
    background-color: white;
    top: 4.6em;
    left: 1em;
}

.rockwell {
    position: absolute; 
    top: 4.5em;
    left: 2em;
}

.connect-two {
    width: 1em;  
    height: 1px;  
    position: absolute;
    background-color: white;
    top: 4.6em;
    left: 2em;
}

.clark {
    position: absolute; 
    top: 4.5em;
    left: 3em;
}

.connect-three {
    width: 1em;  
    height: 1px;  
    position: absolute;
    background-color: white;
    top: 4.6em;
    left: 3em;
}

.connect-four {
    width: 1px;  
    height: 0.8em;  
    position: absolute;
    background-color: white;
    top: 3.85em;
    left: 4em;
}

.connect-five {
    width: 0.8em;  
    height: 1px;  
    position: absolute;
    background-color: white;
    top: 3.85em;
    left: 4em;
}

.connect-six {
    width: 1px;  
    height: 1.5em;  
    position: absolute;
    background-color: white;
    top: 2.4em;
    left: 4.8em;
}

.sheridan {
    position: absolute; 
    top: 2.2em;
    left: 4.7em;
}

.bus-stop-pin {
    width: 5px; 
    height: 5px; 
    background-color: red;
    border-radius: 0.35rem;  
    border: 2px solid #fff;
}