.artist-lineup {
    margin: 0 0 0 1.4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.7rem;
    width: 100%;
}

.artist-cards {
    margin: 0;
    align-items: center;
    gap:1rem;
    display: flex;
    width: fit-content;
}


@media screen and (min-width: 375px) {
    .artist-lineup {
        max-width: 375px;
    }
}

/* Lewis: Added adjustments for 425px */
@media screen and (min-width: 425px){
    .artist-lineup {
        max-width: 425px;
    }
}

