.footer {
    text-align: center;
    justify-content: center;
    margin-top: 10rem;
}

@media screen and (max-width: 768px) {
    .footer {
        margin-top: 4rem;
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        margin-top: 8rem;
    }
}