.redlineIm{ 
    position: relative;
}

.redlineTwo {
    transform: rotate(-42deg);
}

.ctaStation {
    margin-top: -0.3rem;
}

@media only screen and (min-width: 320px){
    .greybox {
        width: 18rem;
        height: 22.5rem;
        background: #282828;
        margin:1rem;
        margin-top: 0.5rem;
        border-radius: 1rem;
        box-shadow: inset 1rem 1rem 10px rgba(0,0,0,0.25);
        overflow-x: hidden;
        overflow: hidden;
        border-top-right-radius: 0rem;
        border-bottom-right-radius: 0rem;
    }

    .smallGrey{
        width:4rem;
        height:3rem;
        background-color: #4E4E4E;
        border-radius: 0.5rem;
        position:absolute;
        top:13rem;
        right:2.4rem;
    }

    .redlineOne {
        position: absolute;
        top: -8rem;
        right: 7rem;
        width: 0.9rem;
        height: 18rem;
        background-color: red;
    }

    .redlineTwo {
        position: absolute;
        top: 8.8rem;
        right: 4.8rem;
        width: 0.9rem;
        height: 6.8rem;
        background-color: red;
        /* border-top-left-radius: 1rem; */
        z-index: 3;
    }

    .whiteDotOne {
        position: absolute;
        top: 4rem; 
        right: 7.1rem; 
        width: 0.7rem;
        height: 0.7rem; 
        border-radius: 0.7rem;
        background-color: white;
    }

    .whiteDotTwo {
        position: absolute;
        top: 8rem; 
        right: 7.1rem; 
        width: 0.7rem;
        height: 0.7rem; 
        border-radius: 0.7rem;
        background-color: white;
    }

    .whiteDotThree {
        position: absolute;
        top: 14rem; 
        right: 4.9rem; 
        width: 0.7rem;
        height: 0.7rem; 
        border-radius: 0.7rem;
        background-color: white;
        z-index: 4;
    }

    .stationName {
        position: absolute;
        transform: rotate(-30deg);
        font-weight: bold;
    }

    #side1 {
        top: 2rem;
        right: 3.5rem;
        color: rgba(255, 255, 255, 0.45);
        font-size: 0.9rem;
    }

    #side2 {
        top: 6rem;
        right: 3.5rem;
        color: rgba(255, 255, 255);
        font-size: 0.9rem;
    }

    .busname {
        position: absolute;
        font-weight: bolder;
    }

    #statone {
        top: 9rem;
        right: 0.8rem;
        font-size: 0.9rem;
        flex-wrap: wrap;
        max-width: 4rem;
        color: rgba(255, 255, 255);
        font-size: 0.8rem;
    }

    .statOneCircle {
        position: absolute;
        top: 13.9rem; 
        right: 3rem; 
        width: 0.7rem;
        height: 0.7rem; 
        border-radius: 0.7rem;
        background-color: white;
        z-index: 4;
    }

    .whiteOne{
        width:0.2rem;
        height:3.6rem;
        position: absolute;
        background-color: white;
        top: 14.2rem; 
        right: 5.19rem; 
        z-index: 6;
    }

    .whiteTwo{
        width:0.2rem;
        height:10.2rem;
        position: absolute;
        background-color: white;
        top: 12.5rem; 
        right: 10rem; 
        transform: rotate(90deg);
    }

    #stattwo {
        top: 17.5rem;
        right: 3rem;
        font-size: 0.9rem;
        flex-wrap: wrap;
        max-width: 4rem;
        color: rgba(255, 255, 255);
        font-size: 0.8rem;
    }

    .statTwoCircle {
        position: absolute;
        top: 17.2rem; 
        right: 5rem; 
        width: 0.7rem;
        height: 0.7rem; 
        border-radius: 0.7rem;
        background-color: white;
        z-index: 4;
    }

    .statThreeCircle {
        position: absolute;
        top: 17.2rem; 
        right: 10rem; 
        width: 0.7rem;
        height: 0.7rem; 
        border-radius: 0.7rem;
        background-color: white;
        z-index: 4;
    }

    #statthree {
        top: 13.4rem;
        right: 8rem;
        font-size: 0.9rem;
        flex-wrap: wrap;
        max-width: 4rem;
        color: rgba(255, 255, 255);
        font-size: 0.8rem;
    }

    .statFourCircle {
        position: absolute;
        top: 17.2rem; 
        right: 15rem; 
        width: 0.7rem;
        height: 0.7rem; 
        border-radius: 0.7rem;
        background-color: white;
        z-index: 4;
    }

    #statfour {
        top: 17.5rem;
        right: 12rem;
        font-size: 0.9rem;
        flex-wrap: wrap;
        max-width: 4rem;
        color: rgba(255, 255, 255);
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 350px) {

    .redlineIm {
        margin-left:2rem;
    }

    .greybox {
        width: 100%;
        height: 23rem;
        background: #282828;
        margin:1rem;
        margin-top: 0.5rem;
        border-radius: 1rem;
        box-shadow: inset 1rem 1rem 10px rgba(0,0,0,0.25);
        overflow-x: hidden;
        overflow: hidden;
        border-top-right-radius: 0rem;
        border-bottom-right-radius: 0rem;
    }

    
    .smallGrey{
        width:4rem;
        height:3rem;
        background-color: #4E4E4E;
        border-radius: 0.5rem;
        position:absolute;
        top:13rem;
        right:2.4rem;
    }

    .redlineOne {
        position: absolute;
        top: -8rem;
        right: 7rem;
        width: 0.9rem;
        height: 18rem;
        background-color: red;
    }

    .redlineTwo {
        position: absolute;
        top: 8.8rem;
        right: 4.8rem;
        width: 0.9rem;
        height: 6.8rem;
        background-color: red;
        /* border-top-left-radius: 1rem; */
        z-index: 3;
    }

    .whiteDotOne {
        position: absolute;
        top: 4rem; 
        right: 7.1rem; 
        width: 0.7rem;
        height: 0.7rem; 
        border-radius: 0.7rem;
        background-color: white;
    }

    .whiteDotTwo {
        position: absolute;
        top: 8rem; 
        right: 7.1rem; 
        width: 0.7rem;
        height: 0.7rem; 
        border-radius: 0.7rem;
        background-color: white;
    }

    .whiteDotThree {
        position: absolute;
        top: 14rem; 
        right: 4.9rem; 
        width: 0.7rem;
        height: 0.7rem; 
        border-radius: 0.7rem;
        background-color: white;
        z-index: 4;
    }

    .stationName {
        position: absolute;
        transform: rotate(-30deg);
        font-weight: bold;
    }

    #side1 {
        top: 2rem;
        right: 3.5rem;
        color: rgba(255, 255, 255, 0.45);
        font-size: 0.9rem;
    }

    #side2 {
        top: 6rem;
        right: 3.5rem;
        color: rgba(255, 255, 255);
        font-size: 0.9rem;
    }

    .busname {
        position: absolute;
        font-weight: bolder;
    }

    #statone {
        top: 9rem;
        right: 0.8rem;
        font-size: 0.9rem;
        flex-wrap: wrap;
        max-width: 4rem;
        color: rgba(255, 255, 255);
        font-size: 0.8rem;
    }

    .statOneCircle {
        position: absolute;
        top: 13.9rem; 
        right: 3rem; 
        width: 0.7rem;
        height: 0.7rem; 
        border-radius: 0.7rem;
        background-color: white;
        z-index: 4;
    }

    .whiteOne{
        width:0.2rem;
        height:3.6rem;
        position: absolute;
        background-color: white;
        top: 14.2rem; 
        right: 5.19rem; 
        z-index: 6;
    }

    .whiteTwo{
        width:0.2rem;
        height:10.2rem;
        position: absolute;
        background-color: white;
        top: 12.5rem; 
        right: 10rem; 
        transform: rotate(90deg);
    }

    #stattwo {
        top: 17.5rem;
        right: 3rem;
        font-size: 0.9rem;
        flex-wrap: wrap;
        max-width: 4rem;
        color: rgba(255, 255, 255);
        font-size: 0.8rem;
    }

    .statTwoCircle {
        position: absolute;
        top: 17.2rem; 
        right: 5rem; 
        width: 0.7rem;
        height: 0.7rem; 
        border-radius: 0.7rem;
        background-color: white;
        z-index: 4;
    }

    .statThreeCircle {
        position: absolute;
        top: 17.2rem; 
        right: 10rem; 
        width: 0.7rem;
        height: 0.7rem; 
        border-radius: 0.7rem;
        background-color: white;
        z-index: 4;
    }

    #statthree {
        top: 13.4rem;
        right: 8rem;
        font-size: 0.9rem;
        flex-wrap: wrap;
        max-width: 4rem;
        color: rgba(255, 255, 255);
        font-size: 0.8rem;
    }

    .statFourCircle {
        position: absolute;
        top: 17.2rem; 
        right: 15rem; 
        width: 0.7rem;
        height: 0.7rem; 
        border-radius: 0.7rem;
        background-color: white;
        z-index: 4;
    }

    #statfour {
        top: 17.5rem;
        right: 12rem;
        font-size: 0.9rem;
        flex-wrap: wrap;
        max-width: 4rem;
        color: rgba(255, 255, 255);
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 425px) {
    .redlineOne {
        top:-9rem;
        height: 19rem;
    }

    .whiteTwo {
        height : 14rem;
        right: 12rem;
        top: 10.5rem;
    }

    .statFourCircle {
        right: 19rem;
    }

    .statThreeCircle {
        right: 12rem;
    }
}

@media only screen and (min-width: 600px) {
    .greybox {
        margin-left:15em;
    }

    .redlineOne {
        position: absolute;
        top: -12rem;
        right: 7rem;
        width: 0.9rem;
        height: 22rem;
        background-color: red;
    }

    .whiteTwo{
        width:0.2rem;
        height:10.2rem;
        position: absolute;
        background-color: white;
        top: 12.5rem; 
        right: 10rem; 
        transform: rotate(90deg);
    }

    .statFourCircle {
        position: absolute;
        top: 17.2rem; 
        right: 15rem; 
        width: 0.7rem;
        height: 0.7rem; 
        border-radius: 0.7rem;
        background-color: white;
        z-index: 4;
    }

    .statThreeCircle {
        position: absolute;
        top: 17.2rem; 
        right: 10rem; 
        width: 0.7rem;
        height: 0.7rem; 
        border-radius: 0.7rem;
        background-color: white;
        z-index: 4;
    }
}

@media only screen and (min-width: 680px) {
    .whiteTwo {
        height : 18rem;
        right: 14.2rem;
        top: 8.5rem;
    }

    .statFourCircle {
        right: 23rem;
    }

    .statThreeCircle {
        right: 12rem;
    }

    .greybox {
        margin-left:13em;
    }
}

@media only screen and (min-width: 768px) {
    .greybox {
        margin-left:18em;
    }
}

@media only screen and (min-width: 1024px) {
    .greybox {
        margin-left:30em;
    }
}


@media only screen and (min-width: 1440px) {
    .greybox {
        margin-left:55em;
    }

    .redlineIm {
        transform: scale(1.4);
        margin-top: 3rem;
        left: -20rem;
    }
}